<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" style="color:white;">Deals Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link"  (click)="onOpenModal( null,'add')">Add New Deal </a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input type="search" (ngModelChange)="searchDeals(key.value)" #key="ngModel" ngModel name="key" id="search" class="form-control mr-sm-2"
        placeholder="Search deals by id..." required>
    </form>
  </div>
</nav>
<div class="container"  id="main-container">
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-6 col-xl-3" *ngFor="let deal of deals">
      <div class="card m-b-30">
        <div class="card-body row">
          <div class="col-6">
            <a href=""><img src="../assets/fx.png" alt="" class="img-fluid rounded-circle w-60"></a>
          </div>
          <div class="col-6 card-title align-self-center mb-0">
            <h6>FX Deal #{{deal?.id}}</h6>
          </div>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item"><i class="fa fa-money float-right"></i>Ordering Currency : <a
              href="#">{{deal?.orderingCurrency}}</a></li>
          <li class="list-group-item"><i class="fa fa-money float-right"></i>To Currency : <a
              href="#">{{deal?.toCurrency}}</a></li>
          <li class="list-group-item"><i class="fa fa-money float-right"></i>Amount : <a href="#">{{deal?.amount}}
              {{deal.orderingCurrency}}</a></li>
          <li class="list-group-item"><i class="fa fa-clock-o float-right"></i>Deal Time : <a href="#">
              {{deal?.timestamp}}</a></li>
        </ul>
        <div class="card-body">
          <div class="float-right btn-group btn-group-sm">
            <a href="#" class="btn btn-primary tooltips" data-placement="top" data-toggle="tooltip"
              data-original-title="Edit"  (click)="onOpenModal(deal,'edit')"><i class="fa fa-pencil"></i> </a>
            <a href="#" class="btn btn-secondary tooltips" data-placement="top" data-toggle="tooltip"
              data-original-title="Delete"  (click)="onOpenModal(deal,'delete')"><i class="fa fa-times"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Add Deal Modal -->
  <div class="modal fade" id="addDealModal" tabindex="-1" role="dialog aria-hidden="true>
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 id="addDealModalLabel">Add Deal</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form #addForm="ngForm" (ngSubmit)="onAddDeal(addForm)">
            <div class="form-group">
              <label for="orderingCurrency">Ordering Currency</label>
              <input type="text" ngModel name="orderingCurrency" class="form-control" id="orderingCurrency"
                placeholder="Ordering Currency" required>
            </div>
            <div class="form-group">
              <label>To Currency</label>
              <input ngModel name="toCurrency" class="form-control" id="toCurrency" placeholder="To Currency" required>
            </div>
            <div class="form-group">
              <label>Amount</label>
              <input type="text" ngModel name="amount" class="form-control" id="amount" placeholder="Amount" required>
            </div>
            <div class="modal-footer">
              <button type="button" id="add-deal-form" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button [disabled]="addForm.invalid" type="submit" class="btn btn-primary" >Save changes</button>
           </div>
          </form>
        </div>
      </div>
    </div>
  </div> 

 <!-- Edit Modal -->
<div class="modal fade" id="updateDealModal" tabindex="-1" role="dialog" aria-labelledby="dealEditModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="updateDealModalLabel">Edit Deal</h5>
           <button type="button" class="close" data-dismiss="modal" aria-label="Close">
           <span aria-hidden="true">&times;</span>
           </button>
        </div>
        <div class="modal-body">
           <form #editForm="ngForm">
            <div class="form-group">
              <label for="id">ID</label>
              <input type="text" ngModel="{{deal?.id}}" name="id" class="form-control" id="id" visible="false">
            </div>
            <div class="form-group">
              <label for="name">Ordering Currency</label>
              <input type="text" ngModel="{{deal?.orderingCurrency}}" name="orderingCurrency" class="form-control" id="orderingCurrency" placeholder="Ordering Currency" required>
            </div>
            <div class="form-group">
              <label>To Currency</label>
              <input  name="toCurrency" ngModel="{{deal?.toCurrency}}" name="toCurrency"  class="form-control" id="toCurrency" placeholder="To Currency" required>
            </div>
            <div class="form-group">
              <label>Amount</label>
              <input type="text"  ngModel="{{deal?.amount}}" name="amount" class="form-control" id="amount" placeholder="Amount" required>
            </div>

              <div class="modal-footer">
                 <button type="button" id="" data-dismiss="modal" class="btn btn-secondary">Close</button>
                 <button (click)="onUpdateDeal(editForm.value)" data-dismiss="modal" class="btn btn-primary" >Save changes</button>
              </div>
           </form>
        </div>
     </div>
  </div>
</div>

 <!-- -- Delete Modal -->
<div class="modal fade" id="deleteDealModal" tabindex="-1" role="dialog" aria-labelledby="deleteModelLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
     <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title" id="deleteModelLabel">Delete Deal</h5>
          
        </div>
        <div class="modal-body">
           <p>Are you sure you want to delete deal {{deletedDeal?.amount}}{{deletedDeal?.orderingCurrency}} ?</p>
           <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
              <button (click)="onDeleteDeal(deletedDeal?.id)" class="btn btn-danger" data-dismiss="modal">Yes</button>
           </div>
        </div>
     </div>
  </div>
</div>
</div> 

  <!-- Notification for no deals -->
  <div *ngIf="deals?.length == 0" class="col-lg-12 col-md-12 col-xl-12">
    <div class="alert alert-info" role="alert">
      <h4 class="alert-heading">NO Deals!</h4>
      <p>No Deals were found.</p>
    </div>
  </div>